<mat-toolbar color="accent">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <h2>ReadSco</h2>
  <div fxFlex fxLayout fxLayoutAlign="center center" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a routerLink="/scoreanalysis">Analyse score</a>
      </li>
      <li>
        <a>The project</a>
      </li>
      <li>
        <a routerLink="/training">Register</a>
      </li>
    </ul>
  </div>
  <div>
    <mat-icon>account_circle</mat-icon>
  </div>
  
</mat-toolbar>
