<ion-header>
    <ion-tabs style="display: contents;">
    <ion-tab-bar slot="top" color="primary">

      <ion-tab-button class="disable-ripple" href="https://example.com">
        <ion-label color="light">ANALYSE SCORE</ion-label>
      </ion-tab-button>

      <ion-tab-button class="disable-ripple" tab="home">
        <ion-router-outlet name="one"></ion-router-outlet>
        <ion-label color="light">THE PROJECT</ion-label>
      </ion-tab-button>
  
      <ion-tab-button class="disable-ripple" tab="settings">
        <ion-router-outlet name="one"></ion-router-outlet>
        <ion-label color="light">REGISTER</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-header>