ul{
  height: 100%;
}
div{
  height: 100%;
}
li{
  padding: .7em;
}
a {
    height: 100%;
    //padding: .7em;
    text-decoration: none;
    color: white;
    height: 100%;
  }

h2
{
  color: white;
}

  li:hover, li:active{
    font-weight: 600;
    border-bottom: 4px solid white;
    cursor:pointer;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-caption {
    display: inline-block;
    padding-left: 6px;
  }

  mat-icon
  {
    font-size: 45px;
    margin-top: .2em;
    margin-right: 1em;
  }
  
  *
  {
	  box-sizing: border-box;
  }
